---
layout: blog
title: Daniel Saidi's Blog
permalink: /blog/categories/
---

{% assign categories = (site.categories | sort:0) %}

<h3>
  <a href="/blog">Latest</a>
  <span class="separator">|</span>
  <a class="selected" href="/blog/categories">Categories</a>
  <span class="separator">|</span>
  <a href="/blog/tags">Tags</a>
</h3>

<div class="tags">
{% for category in categories %}
  {% assign name = category | first %}
    <a href="#{{ name | slugify }}" class="tag">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      {{name}}
    </a>
{% endfor %}
</div>

<div class="box-container">
  <div class="box">
    {% for category in categories %}
      {% assign name = category | first %}
      {% assign posts = category | last %}
      
      <a name="{{ name | slugify }}"></a>
      <h4>{{name}}</h4>
      <ul>
        {% for post in posts %}
          <li>
            <a href="{{post.url}}">{{ post.title }}</a> - <small>{{post.date | date_to_string }}</small>
          </li> 
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>