---
layout: blog
title: Daniel Saidi's Blog
permalink: /blog/tags/
---

{% assign tags = (site.tags | sort:0) %}

<h3>
  <a href="/blog">Latest</a>
  <span class="separator">|</span>
  <a href="/blog/categories">Categories</a>
  <span class="separator">|</span>
  <a class="selected" href="/blog/tags">Tags</a>
</h3>

<div class="tags">
{% for tag in tags %}
  {% assign name = tag | first %}
    <a class="tag" href="#{{ name | slugify }}">
      <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
      {{name}}
    </a>
{% endfor %}
</div>

<div class="box-container">
  <div class="box">
    {% for tag in tags %}
      {% assign name = tag | first %}
      {% assign posts = tag | last %}
      
      <a name="{{ name | slugify }}"></a>
      <h4>{{name}}</h4>
      <ul>
        {% for post in posts %}
          <li>
            <a href="{{post.url}}">{{ post.title }}</a> - <small>{{post.date | date_to_string }}</small>
          </li> 
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>