---
layout: plain
---

<div class="main">
  <div class="section avatar">
  	<a id="top"></a>
  	<div class="wrapper">
  		<div class="row">
  			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 center">
  				{% include me.html %}
  			</div>
  		</div>
  	</div>
  </div>

  <hr />

  <div class="section">
  	<a id="about-me"></a>
  	<div class="wrapper">
  		<div class="box text-box">
  			<p>
  				I am a system developer in
  				<a rel="external" href="https://maps.google.com/maps/ms?ptab=2&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=104394998929176276584.00048917b05a490a49b20">Stockholm, Sweden</a>,
          where I work as iOS lead at <a rel="external" href="http://www.bookbeat.com/">BookBeat</a>.
          
          <p>My skills involve iOS, Android, .NET, web and API development,
          as well as application and system architecture. I love to work with
          all parts of the digital product, including design, ux, tonality,
          localizations etc.</p>
          
  				<p>I love coding and does so as often as I can, on my own and with friends. I
  				<a rel="external" href="http://www.twitter.com/danielsaidi">tweet</a> plenty and <a rel="external" href="/blog/">blog</a> sparsely.</p>
        </div>
  			</p>
  		</div>
  	</div>
  </div>

  <hr class="styled" />

  <div class="section">
    <div class="wrapper">
      <h2>Links</h2>
      {% include links.html %}
    </div>
  </div>

  <hr class="styled" />

  <div class="section">
    <div class="wrapper">
      <h2>Apps</h2>
      {% include apps.html %}
    </div>
  </div>

  <hr class="styled" />

  <div class="section">
    <div class="wrapper">
      <h2>Open Source Projects</h2>
      {% include oss.html %}
    </div>
  </div>
</div>