---
layout: plain
---

<div class="main">
  <div class="section avatar">
  	<a id="top"></a>
  	<div class="wrapper">
  		<div class="row">
  			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 center">
  				<img src="/assets/avatar.jpg" alt="Daniel Saidi" />
  			</div>
  		</div>
  	</div>
  </div>

  <div class="section">
  	<a id="about-me"></a>
  	<div class="wrapper">
  		<div class="box text-box">
  			<p>
          My name is Daniel Saidi. I am a software engineer in
  				<a rel="external" href="https://maps.google.com/maps/ms?ptab=2&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=104394998929176276584.00048917b05a490a49b20">Stockholm, Sweden</a>, where I currently work as iOS Lead at <a rel="external" href="http://www.bookbeat.com/">BookBeat</a>.
        </p>
				<p>
          I love coding and do so as often as I can, on my own and with colleagues and friends.
          I <a rel="external" href="http://www.twitter.com/danielsaidi">tweet</a> often, <a rel="external" href="/blog/">blog</a> seldom
          and enjoy giving talks when I have something to talk about.
        </p>
  		</div>
  	</div>
  </div>

  <hr class="styled" />

  <div class="section">
    <div class="wrapper">
      <h2>Links</h2>
      {% include links.html %}
    </div>
  </div>

  <hr class="styled" />

  <div class="section">
    <div class="wrapper">
      <h2>Apps</h2>
      {% include apps.html %}
    </div>
  </div>

  <hr class="styled" />

  <div class="section">
    <div class="wrapper">
      <h2>Open Source Projects</h2>
      {% include oss.html %}
    </div>
  </div>
</div>