---
layout: plain
---

<div class="section avatar">
	<a id="top"></a>
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 center">
				{% include me.html %}
			</div>
		</div>
	</div>
</div>

<hr />

<div class="section tint">
	<a id="about-me"></a>
	<div class="wrapper">
		<div class="box text-box">
			<p>
				My name is Daniel Saidi. I am a system, app and web developer in
				<a rel="external" href="https://maps.google.com/maps/ms?ptab=2&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=104394998929176276584.00048917b05a490a49b20">Stockholm, Sweden</a>, where I work as iOS lead at
        <a rel="external" href="http://www.bookbeat.com/">BookBeat</a>.
			</p>
			<p>
				I love web & mobile, but anything with code rocks my world. On my spare time, I build apps and open source stuff and 
				<a rel="external" href="http://www.twitter.com/danielsaidi">tweet</a> and <a rel="external" href="#contact">blog</a> about tech.
			</p>
		</div>
	</div>
</div>

<hr />

<div class="section tint dark">
  <div class="wrapper">
    <h2>Links</h2>
    {% include links.html %}
  </div>
</div>

<hr />

<div class="section tint darker">
  <div class="wrapper">
    <h2>Apps</h2>
    {% include apps.html %}
  </div>
</div>

