.grid.album {
  grid-template-columns: 200px auto;

  ol.tracks {
    padding: 0;
    margin: 0;

    li {
      padding: 5px 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .index { 
        margin-right: 5px;
      }

      .track-links {
        text-align: right;

        .bullet {
          margin: 10px 10px;
        }
      }
    }
    li:last-of-type {}
  } 
}

@media (max-width: 600px) {
  .grid.album {
    .cover { width: 200px; }
    grid-template-columns: repeat(1, 1fr);
  }
}

.lyrics {
  margin-top: 2*$standard-margin;
  line-height: 1.7em;
  br { display: none; }
  p br { display: inline; }
  p { margin-bottom: $standard-margin; }
}