.grid.album {
  grid-template-columns: 200px auto;

  .tracks { 

    ol {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 5px 0;
      border-top: 1px solid #ddd;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .index, a { 
          color: #888; 
          font-size: 0.8em;
      }

      .index { 
          margin-right: 5px;
      }

      a { 
          margin-left: 10px;
      }
    }
    li:last-of-type { 
      border-bottom: 1px solid #ddd;  
    }
  }
}

.grid.album + .grid.album {
  margin-top: $standard-margin;
}

@media (max-width: 600px) {
  .grid.album {
    .cover { width: 200px; }
    grid-template-columns: repeat(1, 1fr);
  }
}

.lyrics {
  margin-top: 2*$standard-margin;
  line-height: 1.7em;
  br { display: none; }
  p br { display: inline; }
  p { margin-bottom: $standard-margin; }
}