.hero {
  text-align: center;

  h1 { font-size: 1.8em !important; }
  h2 { font-size: 2.3em !important; }
  h2 { margin-top: 0em !important; font-weight: bold;}
  h2 { margin-bottom: 60px; }
  h2 + img { margin-bottom: 60px; }

  img.app-icon {
    width: 100px;
    height: 100px !important;
    margin-bottom: 40px;
  }

  img.app-icon.large {
    width: 150px;
    height: 150px !important;
  }

  .emoji {
    font-size: 5em;
    margin-top: 0px 0px;
  }
}

@media (max-width: 500px) {

  .hero {
    h1 { font-size: 1.2em !important; }
    h2 { font-size: 1.6em !important; }
  
    img.app-icon {
      width: 100px;
      height: 100px !important;
      margin-bottom: 20px;
    }

    .emoji {
      font-size: 4em;
    }
  }
}