.card {
  border-radius: 6px;
  background-color: white;
  position: relative;

  > img, > div {
    border-radius: 4px;
  }

  .post-content {

    > :first-child {
      margin-top: 0;
    }
    
    > :last-child {
      margin-bottom: 0;
    }
  }
}

div.card {
  padding: 2px;
  text-align: center;
}

article.card, section.card {
  
  padding: 30px 30px 30px 30px;

  header {
    h1 {
      font-size: 2em;
    }
    hr.styled {
      opacity: 0.4;
    }
    margin-bottom: $spacing-unit;
    text-align: center !important;
  }
}

.card + h2, .grid + h2 {
  margin-top: 2*$standard-margin;
}

.grid + .card, article.card + .card, .section.card + .card {
  margin-top: $standard-margin;
}