.card {
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .35);
  background-color: white;
  position: relative;

  > img, > div {
    border-radius: 4px;
  }

  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type, ul:last-of-type {
    margin-bottom: 0;
  }
}

div.card {
  padding: 2px;
  text-align: center;
}

article.card, section.card {
  
  padding: 30px 30px 30px 30px;

  header {
    h1 {
      font-size: 2em;
    }
    hr.styled {
      opacity: 0.4;
    }
    margin-bottom: $spacing-unit;
    text-align: center !important;
  }
}

.card + .card {
  margin-top: $standard-margin;
}