.card-grid { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $standard-margin;
  grid-row-gap: $standard-margin;

  .card + h4 {
    text-align: center;
    margin: 10px 0 0 0;
    color: $text-color !important;
  }
}

article + .card-grid {
  margin-top: 2*$standard-margin;
}

@media (max-width: 600px) {
  .card-grid { 
    grid-template-columns: repeat(2, 1fr);
  }
}
