.grid.cards { 
  
  .card + .card-title {
    text-align: center;
    margin: 10px 0;
    color: $text-color !important;
  }

  .card + .card-title + p {
    text-align: center;
    margin: -10px 0 0 0;
    color: $text-color !important;
  }
}

article + .grid.cards {
  margin-top: 2*$standard-margin;
}