{% assign years = "2016|2015|2014" | split: "|" %}

<h2 class="blog-menu">
  <a class="{% if include.year == 2018 %}selected{% endif %}" href="/blog">Latest</a>
  <span class="separator">•</span>
  {% for y in years %}
    {% assign year = y | plus: 0 %}
    <a class="{% if year == include.year %}selected{% endif %}" href="/blog-{{year}}">{{year}}</a>
    <span class="separator">•</span>
  {% endfor %}
  <a class="{% if include.archive == true %}selected{% endif %}" href="/blog/archive">Archive</a>
  <span class="separator">•</span>
  <a class="{% if include.tags == true %}selected{% endif %}" href="/blog/tags">Tags</a>
</h2>