{%- assign talk=include.talk -%}

<article>
  <header>
    <h2>{{ talk.title | escape }}</h2>
  
    <ul class="horizontal post-info">
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ talk.date | date: date_format }}
      </li><li>
        {%- if talk.location_url -%}
        <a href="{{ talk.location_url }}">{{ talk.location }}</a>
        {%- else -%}
        {{ talk.location }}
        {%- endif -%}
      </li><li class="links">
        <a href="{{ talk.url }}">Presentation</a>
        {%- if talk.video -%}
        <a href="{{ talk.video }}">Video</a>
        {%- endif -%}
        {%- if talk.post -%}
        <a href="{{ talk.post }}">Blog Post</a>
        {%- endif -%}
        {%- if talk.code -%}
        <a href="{{ talk.code }}">Code</a>
        {%- endif -%}
      </li>
    </ul>
  </header>

  <p>
    {{ talk.abstract | remove: '<p>' | remove: '</p>' }}
  </p>
</article>