html, body {
	width: 100%;
	background-image: url(bg/lightgrey.png) !important;
}

@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}	
}


h2 + .row, h2 + p + .row {
	margin-top: 2.5em !important;
}

hr.styled, .main > hr, footer {
	background: url(bg/hr.png) no-repeat center top;
	border: none;
	border-top: 1px solid #aaa;
	height: 40px;
	margin: 0px;
}

.main > hr + div {
	margin-top: -40px;
}

div.center {
	text-align: center;
}


@media screen and (max-width: 800px) {
	.wrapper {
	    max-width: -webkit-calc(800px - (30px * 2)) !important;
	    max-width: calc(800px - (30px * 2)) !important;
	}
}

@import "site/avatar";
@import "site/blog";
@import "site/box";
@import "site/bubble";
@import "site/footer";
@import "site/rows";
@import "site/sections";
@import "site/tags";
@import "site/tint";
@import "site/typography";