.avatar img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .35);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .35);
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .35);

	background-color: white;
	padding: 7px;
	width: 200px;
}