.blog {
	
	.blog-menu {
		margin-bottom: 20px;
		font-size: 1.4em;

		a {
			font-weight: 100;
		}

		.selected {
			text-decoration: underline;
		}
	}

	h3, h4 {
		margin-bottom: 5px; 
	}

	ul + a + h4 {
		margin-top: 30px;
	}

	.separator {
		margin: 0 8px;
	}


	#disqus_thread {
		margin-top: 50px;
	}
}