.blog {
	
	.blog-menu {
		margin-top: 0 !important;
		margin-bottom: 50px !important;
		font-size: 1.4em;

		a {
			font-weight: 100;
		}

		.selected {
			text-decoration: underline;
		}
	}

	.blog-menu + .tags {
		margin-top: -30px !important;
		margin-bottom: 50px !important;
	}

	h3, h4 {
		margin-bottom: 5px; 
	}

	.separator {
		margin: 0 8px;
	}


	#disqus_thread {
		margin-top: 50px;
	}
}