$background: #002862;
$background-overlay: #0005;

$footer-background: $background-overlay;

$foreground: #fff;
$foreground-secondary: #fffa;

$code-background: #112;
$code-foreground: white;
$code-border: clear;

$link: #F2C342;
$link-hover: #FFE372;

$quote-background: clear;

