.blog-menu {

  margin-top: 0 !important;

  .active {
    text-decoration: underline;
  }
}

.post-info {
  a {
    margin-right: 10px;
  }
}

.tag-list {
  a {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin-right: 5px;
  }
}

.tag-posts {
  h2 {
    margin-top: 0;
  }
}