html, body {
  color: white;
  background-color: #004080;
  background-image: linear-gradient(#004080, #013060);
  background-attachment: fixed;
}

a, a:hover, a.title:hover, a:visited {
  color: #F2C342;
}

a.title {
  color: white;
}

.discrete {
  opacity: 0.9;
}