.site-header {

  hr {
    background: none !important;
    padding-bottom: 50px !important;
  }
 
  .logo {
    font-size: 2em;
    font-family: 'Caveat', cursive;
    color: $foreground;
  }
}

@media (max-width: 600px) {
  
  .site-header .logo {
    font-size: 1.5em;
  }
}