.grid { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $standard-margin;
  grid-row-gap: $standard-margin;

  img {
    margin-bottom: 10px;
  }
  
  a {
    color: white;
    text-align: center;
  }
}

.grid.icons {
  img {
    border-radius: 23%;
  }
}

.grid.photos {
  img {
    border-radius: 14px;
  }
}

@media (max-width: 600px) {
  .grid { 
    grid-template-columns: repeat(2, 1fr);
  }
}