.wrapper {

  img {
    border-radius: 13px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .35);
  }

  div img {
    display: block;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

img.cover {
  border-radius: 5px;
}

img.avatar {
  border-radius: 50%;
  background-color: white;
  margin-top: 0px !important;
  padding: 2px;
  width: 150px;
  height: 150px;
}