ul.horizontal {
  margin: 0;
  padding: 0;
  display: inline;

  li {
    display: inline-block;
    margin-right: 5px;
  }

  li:before {
    content: '\00a0\2022\00a0\00a0';
  }

  li:first-child:before {
    content: '';
  }

  .svg-icon {
    padding-right: 0px;
  }
}