.lyrics {
  line-height: 1.7em;
  br { display: none; }
  p br { display: inline; }
  p { margin-bottom: $standard-margin; }
}

.grid.bands { 
  grid-template-columns: repeat(3, 1fr);
}

.grid.album {
  
  a, a:hover, a.title:hover, a:visited {
    color: #F2C342;
  }

  h3 { margin-top: 0 }

  .post-header {
    margin-top: -10px;
  }
}

.grid.album {
  grid-template-columns: 200px auto;

  ol.tracks {
    font-size: small;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #ffffff33;

      .index { 
        margin-right: 5px;
      }

      .track-links {
        .bullet {
          margin: 10px 10px;
        }
      }
    }
  } 
}

.grid.album + .grid.album {
  margin-top: 60px;
}

@media (max-width: 600px) {

  .grid { 
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.album {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid.bands { 
    grid-template-columns: repeat(1, 1fr);
  }
}