---
layout: default
---

{%- assign id = page.id | split: "/" | last -%}
{%- assign band = site.data.bands[id] -%}
{%- assign info=band.info -%}
{%- assign albums=band.discography | reverse -%}
{%- capture lyrics_url -%}/lyrics/{{ page.name | slugify }}/{%- endcapture -%}

<article>
  <a href="/music#{{ page.name | slugify }}"><h4>Music</h4></a>
  <header>
    <h1>{{ info.name | escape }}</h1>
    
    <ul class="horizontal post-info">
      <li>{{info.year-from}} - {{info.year-to}}</li>
      <li>{{info.genres}}</li>
    </ul>
  </header>

  {{ content }}
</article>

<hr />

{%- if band.photos -%}
<h2>Photos</h2>
<a name="photos"></a>
<section class="grid photos">
  {%- for photo in band.photos -%}
    {%- capture name -%}{{photo.file}}_sml.jpg{%- endcapture -%}
    {%- capture alt -%}An image of {{photo.text}}{%- endcapture -%}
    {%- include image.html name=name alt=alt title=photo.text -%}
  {%- endfor -%}
</section>

<hr />
{%- endif -%}

<h2>Recordings</h2>
<a name="music"></a>
{%- for album in albums -%}
{%- if album.hidden -%}{%- else -%}
<a name="{{album.name | slugify}}"></a>
<section class="grid album">
  <div class="cover">
    {%- capture name -%}{{album.name | slugify}}.jpg{%- endcapture -%}
    {%- capture alt -%}The album cover of {{photo.text}}{%- endcapture -%}
    {%- include image.html name=name class="cover" alt=alt title=album.name -%}
  </div>
  <section>
    <h3>
      {{album.name}} • {{album.year}} 
    </h3>
    <h4>
      Listen on:
      <ul class="horizontal">
        {%- if album.links.spotify -%}
        <li><a href="{{ album.links.spotify }}">Spotify</a></li>
        {%- endif -%}
        {%- if album.links.youtube -%}
        <li><a href="{{ album.links.youtube }}">YouTube</a></li>
        {%- endif -%}
        {%- if album.links.apple -%}
        <li><a href="{{ album.links.apple }}">Apple Music</a></li>
        {%- endif -%}
      </ul>
    </h4>
    <ol class="tracks">
      {%- for track in album.tracks -%}
      <li>
        <span class="track-name">
          <span class="index">{{ forloop.index }}.</span>
          {{track.name}}
        </span>
        <span class="track-links">
          {%- if track.links.spotify -%}
          <a href="{{ track.links.spotify }}">Spotify</a><span class="bullet">·</span>
          {%- endif -%}
          {%- if track.links.apple -%}
          <a href="{{ track.links.apple }}">Apple</a><span class="bullet">·</span>
          {%- endif -%}
          {%- if track.links.youtube -%}
          <a href="{{ track.links.youtube }}">YouTube</a><span class="bullet">·</span>
          {%- endif -%}
          {%- if track.lyrics == false -%}{%- else -%}
          <a href="{{ lyrics_url }}{{ album.name | slugify }}/{{ track.name | slugify }}">Lyrics</a>
          {%- endif -%}
        </span>
      </li>
      {%- endfor -%}
    </ol> 
  </section>
</section>
{%- endif -%}
{%- endfor -%}