---
layout: default
---

{%- assign id = page.id | split: "/" | last -%}
{%- assign band = site.data.bands[id] -%}
{%- capture assets -%}/assets/music/{{ page.name | slugify }}{%- endcapture -%}
{%- capture assets_img -%}{{ assets }}/{%- endcapture -%}
{%- capture lyrics_url -%}/lyrics/{{ page.name | slugify }}/{%- endcapture -%}

<article class="card">
  {% include bands/band-header.html band=band %}
  {{ content }}
</article>
  
<h2>Photos</h2>
<a name="photos"></a>
<section class="grid photos">
  {%- for photo in band.photos -%}
  <div class="card">
    <img src="{{ assets_img }}{{ photo.file }}_sml.jpg" alt="{{photo.text}}"></img>
  </div>
  {%- endfor -%}
</section>

<h2>Recordings</h2>
<a name="music"></a>
{%- for album in band.discography -%}
{%- if album.hidden -%}{%- else -%}
<section class="grid album">
  <div class="details">
    <div class="card cover">
      {%- assign cover = album.name | slugify -%}
      <img src="{{ assets_img }}{{ cover }}.jpg" alt="{{photo.text}}"></img>
    </div>
  </div>
  <section class="card tracks">
    <h4>{{album.name}} ({{album.year}})</h4>
    <ol>
        {%- for track in album.tracks -%}
        <li>
          <span>
            <span class="index">{{ forloop.index }}.</span>
            {{track.name}}
          </span>
          {%- if track.lyrics == false -%}{%- else -%}
          <a href="{{ lyrics_url }}{{ album.name | slugify }}/{{ track.name | slugify }}">Lyrics</a>
          {%- endif -%}
        </li>
        {%- endfor -%}
    </ol>
  </section>
</section>
{%- endif -%}
{%- endfor -%}