---
layout: default
---

{%- assign id = page.id | split: "/" | last -%}
{%- assign band = site.data.bands[id] -%}

<article class="card">
  {% include bands/band-header.html band=band %}
  {{ content }}
  
  <a name="photos"></a>
  <h2>Photos</h2>
  <section class="grid photos">
    {%- for photo in band.photos -%}
      <img src="/assets/music/{{ page.name | slugify }}/img/{{ photo.file }}_sml.jpg" alt="{{photo.text}}"></img>
    {%- endfor -%}
  </section>
  
  <a name="albums"></a>
  <h2>Recordings</h2>
  {%- for recording in band.discography -%}
    {{recording.name}}
  {%- endfor -%}
</article>