---
layout: plain
---

{% assign categories = (page.categories | sort:0) %}
{% assign tags = (page.tags | sort:0) %}

<article class="page section blog">

  <div class="wrapper">

    <header>
      <div class="breadcrumbs">
        <a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Home</a> 
        <span class="separator">•</span>
        <a href="/blog">Blog</a>

      </div>

      <h1>{{ page.title | escape }}</h1>
      <p>{{ page.date | date_to_string }}</p>

      <div class="tags">
      {% for category in categories %}
        <a class="tag" href="/blog/categories#{{ category | slugify }}">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          {{category}}
        </a>  
      {% endfor %}
      </div>

      <div class="tags">
      {% for tag in tags %}
        <a class="tag" href="/blog/tags#{{ tag | slugify }}">
          <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
          {{tag}}
        </a>  
      {% endfor %}
      </div>
    </header>

    <div class="box-container">
      <div class="box text-box">
        {{ content }}

        {% if page.comments %} 
          <div id="disqus_thread"></div>
          <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//danielsaidi.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </div>
    </div>
  </div>

</article>

