---
layout: default
---

<article class="blog post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  
  {% include kankoda/buttons/back url="/talks" title="Talks" %}

  {% assign url_bluesky = page.bsky | default: site.urls.bluesky %}  
  {% assign url_mastodon = page.toot | default: site.urls.mastodon %}  
  {% assign url_twitter = page.tweet | default: site.urls.twitter %}  
  
  <h1>
    {{ page.title | escape }}
  </h1>

  {% include kankoda/tags/date-title item=page links=0 %}

  <div class="e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="grid col2" style="grid-column-gap: 40px; margin-top: 0px !important;">
    {% if page.slides %}
    <div>
      <h2>Slides</h2>
      <p>
        You can download the presentation slides <a href="{{page.slides}}">here</a>.
      </p>
      {% if page.slides-screenshot == 1 %}
      <a href="{{page.slides}}">
          <img src="{{page.assets}}slides.jpg" class="slide-up" />
        </a>
      {% endif %}
    </div>
    {% endif %}

    {% if page.video %}
    <div>
      <h2>Video</h2>
      <p>
        You can watch a recording of the talk <a href="{{page.video}}">here</a>.
      </p>
      <a href="{{page.video}}">
        <img src="{{page.assets}}video.jpg" class="slide-up" />
      </a>
    </div>
    {% endif %}

  </div>

  
  {% if page.abstract %}
  <h2>Abstract</h2>
  <p>
    {{page.abstract | markdownify }}
  </p>
  {% endif %}

  {% if page.images %}
  <h2>Images</h2>
  <p>
    I'm terribly bad at taking pictures while traveling, so if you do have any nice pictures of us together, feel free to <a href="{{page.urls.email}}">send them my way</a>.
  </p>
  <div class="grid col2 slide-up">
    {% for image in page.images %}
    <img src="{{page.assets}}{{image}}" />
    {% endfor %}
  </div>
  {% endif %}

  <h2>Discussions & More</h2>
  <p>
    If you think this talk sounds interesting and want to book me for a conference or company event, please reach out on
    <a href="{{url_bluesky}}">Bluesky</a> or
    <a href="{{url_mastodon}}">Mastodon</a>, or send me an <a href="{{site.urls.email}}">e-mail</a>.
  </p>

  <a class="u-url" href="{{page.url | relative_url}}" hidden></a>
</article>

{% include kankoda/tags/scripts %}