---
layout: default
---

<article class="blog post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  
  {% include kankoda/buttons/back url="/talks" title="Talks" %}

  {% assign url_bluesky = page.bsky | default: site.urls.bluesky %}  
  {% assign url_mastodon = page.toot | default: site.urls.mastodon %}  
  {% assign url_twitter = page.tweet | default: site.urls.twitter %}  
  
  <h1>
    {{ page.title | escape }}
  </h1>

  {% include kankoda/tags/date-title item=page links=0 %}

  <div class="e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.slides %}
  <h2>Slides</h2>
  <p>
    You can download the presentation slides <a href="{{page.slides}}">here</a>. The slides are exported as a PDF document, with no animations or transitions.
  </p>
  {% endif %}

  {% if page.video %}
  <h2>Recording</h2>
  <p>
    You can watch a recording of the talk <a href="{{page.video}}">here</a>.
  </p>
  {% endif %}

  {% if page.abstract %}
  <h2>Abstract</h2>
  <p>
    {{page.abstract | markdownify }}
  </p>
  {% endif %}

  {% if page.images %}
  <h2>Images</h2>
  <div class="grid col2">
    {% for image in page.images %}
    <img src="{{page.assets}}{{image}}" />
    {% endfor %}
  </div>
  {% endif %}

  <h2>Discussions & More</h2>
  <p>
    If you think this talk sounds interesting and want to book me for a conference or company event, please reach out on
    <a href="{{url_bluesky}}">Bluesky</a> or
    <a href="{{url_mastodon}}">Mastodon</a>, or send me an <a href="{{site.urls.email}}">e-mail</a>.
  </p>

  <a class="u-url" href="{{page.url | relative_url}}" hidden></a>
</article>

{% include kankoda/tags/scripts %}