---
layout: default
---

{%- assign work = site.data.work | where:"name", page.name | first -%}
{%- assign tags = work.tags | split:" " -%}

<article class="paper">

  {%- assign work-name = work.name | slugify -%}  
  {%- assign url = "/work#" | append: work-name -%}
  {% include kankoda/buttons/back.html url=url title="Work" %}

  <h1>
    {{ work.name | escape }}
  </h1>

  <div class="post-header">
    <span class="date">{{work.years}}</span>
    <span class="spacer"></span>
    {%- assign tags = work.tags | downcase | split: " " -%}
    {% include tags/work-tags.html tags=tags %}
  </div>
  
  {{ content }}

  <hr />

  <h2>Links</h2>

  <ul>
      {% if work.website %}
      <li><a href="{{work.website}}" title="Visit the {{work.name}} website">Visit the {{work.name}} website</a></li>
      {% endif %}

      {% if work.appstore %}
      <li><a href="{{work.appstore}}" title="Download the iOS app">Download the iOS app</a></li>
      {% endif %}

      {% if work.playstore %}
      <li><a href="{{work.appstore}}" title="Download the Android app">Download the Android app</a></li>
      {% endif %}
  </ul>
</article>