---
layout: default
---

{%- assign work = site.data.work | where:"name", page.name | first -%}
{%- assign tags = work.tags | split:" " -%}

<article class="paper">

  {%- assign work-name = work.name | slugify -%}  
  {%- assign url = "/work#" | append: work-name -%}
  {% include kankoda/buttons/back.html url=url title="Work" %}

  <h1>
    {{ work.name | escape }}
  </h1>

  <div class="tag-date-title">
    <span class="date">{{work.years}}</span>
    <span class="spacer"></span>
    {%- assign tags = work.tags | downcase | split: " " -%}
    {% for tag in tags %}
    <span class="tag">
      {{tag}}
    </span>
    {% endfor %}
  </div>
  
  <p>{{ content }}</p>

  <hr />

  <h2>Links</h2>

  <ul>
      {% if work.website %}
      <li><a href="{{work.website}}" title="Visit the {{work.name}} website">Visit the {{work.name}} website</a></li>
      {% endif %}

      {% if work.appstore %}
      <li><a href="{{work.appstore}}" title="Get the iOS app">Get the iOS app</a></li>
      {% endif %}

      {% if work.playstore %}
      <li><a href="{{work.appstore}}" title="Get the Android app">Get the Android app</a></li>
      {% endif %}
  </ul>
</article>