{%- assign band=include.band -%}
{%- assign info=band.info -%}
{%- assign members=band.members -%}
{%- assign link=include.link | default: false -%}

<header>
  {%- if link -%}
  <a href="{{ include.band.url | relative_url }}" class="discreet">
  {%- endif -%}
  <h1>{{ info.name | escape }}</h1>
  {%- if link -%}
  </a>
  {%- endif -%}

  <ul class="horizontal">
    <li>{{info.year-from}} - {{info.year-to}}</li>
    <li>{{info.genres}}</li>
  </ul>

  <br />

  <ul class="horizontal">
    {%- for member in members -%}
      <li>{{member.name}} ({{member.instrument}})</li>
    {%- endfor -%}
  </ul>

  <hr class="styled" />
</header>